.main {
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.panel__connection-panel button {
    margin-left: 0.5rem;
}

.panel__input-panel button {
    margin-left: 0.5rem;
}

.panel__chat-table th {
    text-align: left;
}

.panel__chat-table td {
    text-align: left;
}
